.btn {
  padding: 10px 24px;
  border: none;
  background-color: transparent;
  color: #ffff;
  display: flex;
  align-items: center;
  gap: 12px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  opacity: 0.9;
}

.btn:active {
  opacity: 0.7;
}

.primary {
  background-color: rgb(64, 64, 230);
}

.primary:hover {
  background-color: rgb(50, 50, 184);
}

.secondary {
  background-color: rgb(64, 230, 108);
}

.secondary:hover {
  background-color: rgb(50, 184, 85);
}

.danger {
  background-color: rgb(230, 72, 64);
}

.danger:hover {
  background-color: rgb(184, 58, 54);
}

.icon {
  display: flex;
  align-items: center;
}
.start-icon {
  margin-right: 8px;
}
.end-icon {
  margin-left: 8px;
}
